@using ITTasks.Models.DTOS.Users;
@using ITTasks.Statics.Entities.Roles;
@model List<UserDto>

@{
	Layout = "_Layout";
}

	@section Styles{
	<link href="~/lib/pwt.datepicker/dist/css/persian-datepicker.min.css" rel="stylesheet" />
	<link href="~/lib/pwt.datepicker/dist/css/persian-datepicker.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.min.css" />

	<link href="~/lib/sweetalert2/sweetalert.min.css" rel="stylesheet" />
}
	<style>
		.form-check .form-check-input {
    float: right;
    margin-left: -1.5em;
}
	</style>


	@if (User.IsInRole(RoleTypes.Admin))
{
	@section Admn{
	<li class="nav-item">
		<a class="nav-link text-dark" title="گزارش گیری" asp-area="" asp-controller="Reports" asp-action="Reporting">گزارش گیری</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-dark" title="پنل ادمین" asp-area="" asp-controller="Admin" asp-action="Panel">پنل ادمین</a>
	</li>
}
}

<div class="container mt-3">
	<table class="table data-table table-hover text-nowrap display col-12">
		<thead>
			<tr>
				<th>نام کاربر </th>
				<th>وضعیت</th>
				<th>تاریخ ساخت</th>
				<th>ساعت ساخت</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in Model)
			{
				<tr>
					<td>@user.FullName</td>
					<td>
						<div class="form-check form-switch">
                        <input class="form-check-input btn-status" data-id="@user.Id" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked="@user.IsActive" >
                       </div
                    </td>
					<td>@user.CreatedTime.ToShortDateString()</td>
					<td>@user.CreatedTime.TimeOfDay</td>
				</tr>
			}
		</tbody>
	</table>
</div>



@section Scripts {

			<script src="~/lib/pwt.datepicker/dist/js/persian-date.min.js"></script>
			<script src="~/lib/pwt.datepicker/dist/js/persian-datepicker.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
			<script type="text/javascript" src="~/lib/data-tables/datatables.min.js"></script>
			<script type="text/javascript" src="~/assets/js/datatable.js"></script>
			@{
				await Html.RenderPartialAsync("_ValidationScriptsPartial");
			}


			<script type="text/javascript">
				
				var id = ""

				$(".btn-status").hover(function(){
					var status = $(this).is(':checked');

					if(status == true){
						document.getElementById("flexSwitchCheckChecked").title = "فعال";
					}
					else{
						document.getElementById("flexSwitchCheckChecked").title = "غیر فعال";
					}
				})

				$(".btn-status").on("click", function () {
					id = $(this).data("id");

					var status = $(this).is(':checked');

					$.ajax({
						type: "POST",
                        url: "/User/ChangeStatus/"+id +"/" + status,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json"
					}).done(function (result) {
						console.log(result);
					});

				}
				);
			</script>
		}